.spinner {
	width: 56px;
	height: 56px;
	border-radius: 50%;
	border: 6px solid;
	border-color: #dbdcef;
	border-right-color: var(--pink);
	animation: spinner-d3wgkg 1000ms infinite linear;
}

@keyframes spinner-d3wgkg {
	to {
		transform: rotate(360deg);
	}
}
